<% include header.ejs %>
  <link rel="stylesheet" href="/mypublic/assets/css/CSSindex.css">
  <div class="container">
    <div class='row'>
      <div class='col'>
        <h1>
          <%= device.name %>
        </h1>
      </div>
      <div class="col" style="text-align:right">
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">
          <i class="fas fa-trash"></i> Delete Device
        </button>
        <a href="/repository">
          <button type="button" class="btn btn-primary" style="margin-left:20px">
            back
          </button>
        </a>
      </div>
    </div>
    <hr/>
    <div class="card" style="height:450px">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs nav-fill" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#profile" role="tab" aria-controls="profile">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#messages" role="tab" aria-controls="messages">Messages</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#riskmo" role="tab" aria-controls="riskmo">RiskMO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#settings" role="tab" aria-controls="settings">Settings</a>
          </li>
        </ul>
      </div>
      <div class="card-block">
        <div class="tab-content">
          <div class="tab-pane active" id="profile" role="tabpanel">
            <div class="container text-center" style="padding:30px;">
              <h4 style="padding:20px">DeviceID :
                <%= device.deviceID %>
              </h4>
              <h4 style="padding:20px">DeviceKey :
                <%= device.deviceKey %>
              </h4>
              <h4 style="padding:20px">DeviceSecret :
                <%= device.deviceSecret %>
              </h4>
              <h4>
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#confirmModal">Reset DeviceKey and DeviceSecret</button>
              </h4>
            </div>
          </div>
          <div class="tab-pane" id="messages" role="tabpanel">
            <div class=" container" id="chatbox" style="height:300px;">
            </div>
            <div style "position:absolute; bottom:0; background:#2F3131">
              <form id="messageForm">
                <div class="form-group">
                  <input class="form-control" id="textMessage" name="message" type="text" placeholder="Message">
                  <input type="submit" hidden>
                </div>
              </form>
            </div>
          </div>
          <div class="tab-pane" id="riskmo" role="tabpanel">
            <form id="settingForm" style="width: 100%">
              <div class="container ctab text-center scroll-box" style="padding:30px;">
                <h3 style="color: black"> Risk Modifier</h3>
                <label for="inputName">Radius from Water</label>
                <div class="form-group form-inline justify-content-center">
                  <input type="text" class="form-control form-ans" id="inputName" placeholder="coefficient" style="width:22%">
                  <input type="text" class="form-control form-ans" id="inputName" placeholder="square" style="width:22%">
                </div>
                <label for="inputName">Radius from Road</label>
                <div class="form-group form-inline justify-content-center">
                  <input type="text" class="form-control form-ans" id="inputName" placeholder="coefficient" style="width:22%">
                  <input type="text" class="form-control form-ans" id="inputName" placeholder="square" style="width:22%">
                </div>
                <label for="inputName">Rain</label>
                <div class="form-group form-inline justify-content-center">
                  <input type="text" class="form-control form-ans" id="inputName" placeholder="coefficient" style="width:22%">
                  <input type="text" class="form-control form-ans" id="inputName" placeholder="square" style="width:22%">
                </div>
                <label for="inputName">Wind</label>
                <div class="form-group form-inline justify-content-center">
                  <input type="text" class="form-control form-ans" id="inputName" placeholder="coefficient" style="width:22%">
                  <input type="text" class="form-control form-ans" id="inputName" placeholder="square" style="width:22%">
                </div>
                <label for="inputName">Humidity</label>
                <div class="form-group form-inline justify-content-center">
                  <input type="text" class="form-control form-ans" id="inputName" placeholder="coefficient" style="width:22%">
                  <input type="text" class="form-control form-ans" id="inputName" placeholder="square" style="width:22%">
                </div>
                <label for="inputName">Temparature</label>
                <div class="form-group form-inline justify-content-center">
                  <input type="text" class="form-control form-ans" id="inputName" placeholder="coefficient" style="width:22%">
                  <input type="text" class="form-control form-ans" id="inputName" placeholder="square" style="width:22%">
                </div>
                <div style="text-align:center">
                  <p style="width:100%">_____________</p>
                </div>
                <div class="form-group">
                  <div>
                    <h3 style="color: black"> Icon Color</h3>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                    <label class="form-check-label" for="inlineRadio1" style="margin-right:30px">Blue</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                    <label class="form-check-label" for="inlineRadio2" style="margin-right:30px">Green</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                    <label class="form-check-label" for="inlineRadio3" style="margin-right:30px">Yellow</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="option3">
                    <label class="form-check-label" for="inlineRadio4" style="margin-right:30px">Black</label>
                  </div>
                </div>
                <div style="text-align:center">
                  <p style="width:100%">_____________</p>
                </div>
                <h3 style="color: black"> Alert setting</h3>
                <div class="form-group">
                  <label for="inputName">Email</label>
                  <input type="text" class="form-control" id="inputName" placeholder="">
                </div>
                <div class="form-group">
                  <label for="inputName">Subject</label>
                  <input type="text" class="form-control" id="inputName" placeholder="">
                </div>
                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Content</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea> </div>
              </div>
              <div style="text-align:right; margin-right:30px">
                <button type="button" class="btn btn-secondary">Create</button>
              </div>
            </form>
          </div>
          <div class="tab-pane" id="settings" role="tabpanel">
            <div class="container text-center" style="padding:30px;">
              <form>
                <div class="form-group">
                  <div>
                    <h3 style="color: black"> Line Color</h3>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                    <label class="form-check-label" for="inlineRadio1" style="margin-right:30px">Blue</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                    <label class="form-check-label" for="inlineRadio2" style="margin-right:30px">Green</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                    <label class="form-check-label" for="inlineRadio3" style="margin-right:30px">Yellow</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="option3">
                    <label class="form-check-label" for="inlineRadio4" style="margin-right:30px">Black</label>
                  </div>
                  <h3 style="color: black"> Merge External Data</h3>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col" style="margin-top:30px">
        <div class="card" style="height:300px;">
          <h4>Risk modifier</h4>
          <div style="text-align:center">
            <p style="width:100%">_____________</p>
          </div>
        </div>
      </div>
      <div class="col" style="margin-top:30px">
        <div class="card" style="height:300px;"> Hello World</div>
      </div>
    </div>

    <div style="height:50px"></div>
    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Comfirming</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Your "DeviceKey" and "DeviceSecret" will be permanently changed.
            <br/> Are you sure you want to continue?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <a class="alink" href="/reset/device/<%= device._id %>">
              <button type="button" class="btn btn-danger">Save</button>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Warning! Deleting device</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Your
            <b>Device:
              <%= device.name %>
            </b> will be permanently deleted.
            <br/> Are you sure you want to continue?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <a class="nav-link" href="/remove/device/<%= device._id %>">
              <button type="button" class="btn btn-danger">Delete</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>


  <% include footer.ejs %>

    <script src="/mypublic/assets/js/paho-mqtt.js"></script>
    <script>
      device = <%- JSON.stringify(device) %>;
      // Create a client instance
      client = new Paho.MQTT.Client("localhost", Number('8081'), "mes" + device.deviceID);
      console.log(client);
      // set callback handlers
      client.onConnectionLost = onConnectionLost;
      client.onMessageArrived = onMessageArrived;
      // connect the client
      console.log("connecting...");
      client.connect({
        onSuccess: onConnect,
        onFailure: onFailure,
        userName: device.deviceKey,
        password: device.deviceSecret
      });

      function onFailure(err) {
        console.log("connect fail!!");
        console.log(err);
      }

      function onConnect() {
        // Once a connection has been made, make a subscription and send a message.
        console.log("onConnect");
        client.subscribe("/" + device.deviceID + "/message");
      }
      // called when the client loses its connection
      function onConnectionLost(responseObject) {
        if (responseObject.errorCode !== 0) {
          console.log("onConnectionLost:" + responseObject.errorMessage);
        }
      }

      // called when a message arrives
      function onMessageArrived(message) {
        console.log(message.destinationName);
        console.log("onMessageArrived:" + message.payloadString);
        var elm = '<div style="padding:10px">' +
          '<div class="card" style="width: 15rem;padding:10px;background:grey;">' +
          '<h4 class="card-title">DEVICE:</h4>' +
          '<p class="card-text">' + message.payloadString + '</p>' +
          '</div>' +
          '</div>'
        $(elm).appendTo(document.getElementById("chatbox"));
      }

    </script>

    <script>
      $('#messageForm').submit(function(e) {
        e.preventDefault();
        var form = document.getElementById("messageForm");
        var payload = document.getElementById("textMessage").value;
        form.reset();
        var message = new Paho.MQTT.Message(payload);
        message.destinationName = "/" + device.deviceID + "/";
        client.send(message);
        var elm = '<div style="padding:10px;padding-left:670px">' +
          '<div class="card" style="width: 25rem;padding:10px;background:#87CEEB;">' +
          '<h4 class="card-title">USER:</h4>' +
          '<p class="card-text">' + payload + '</p>' +
          '</div>' +
          '</div>'
        $(elm).appendTo(document.getElementById("chatbox"));
      });

    </script>
