<% include header.ejs %>
  <link rel="stylesheet" href="/mypublic/assets/css/CSSindex.css">

  <div class="container">
    <div class='row'>
      <div class='col'>
        <div class="d-flex flex-row">
          <div class="p-2">
            <h1>
              <%= device.name %>
            </h1>
          </div>
          <div class="p-2 popup" onclick="onpopup()" style="font-size:2em; color:white">
            <i class="fas fa-info-circle"></i>
            <span class="popuptext" id="myPopup" style="width:500px; text-align:left; padding:5px"><p>
              <b>Profile Tab: </b> You can get all keys to connect to your device here.
              <br><br>
              <!-- <b>Debug Log Tab: </b> What is the value and the value name of your device? You can track it from here. -->
              <!-- <br><br> -->
              <b>Risk management Tab: </b> To create and manage the risk which will alert when it beyond a threshold, set here.
              <br><br>
              <b>Settings Tab:</b> This is where you can set your device.
            </p></span>
          </div>
        </div>
      </div>
      <div class="col" style="text-align:right">
        <a href="/getdata/<%= device.deviceID %>">
          <button type="button" class="btn btn-secondary" style="margin-right:20px">Export CSV</button>
        </a>
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">
          <i class="fas fa-trash"></i> Delete Device
        </button>
        <a href="/repository">
          <button type="button" class="btn btn-primary" style="margin-left:20px">
            back
          </button>
        </a>
      </div>
    </div>
    <hr/>
    <div class="row">
      <div class="col">
        <% if(device.desc.length!=0){%>
          <h2>Description</h2>
          <hr style="width:48%" />
          <p style="color:white">
            <%= device.desc %>
          </p>
          <br/>
          <% } %>
      </div>
    </div>
    <div class="card" style="height:450px">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs nav-fill" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#profile" role="tab" aria-controls="profile">Profile</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#messages" role="tab" aria-controls="messages">Debug log</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#riskmo" role="tab" aria-controls="riskmo">Risk Management</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#settings" role="tab" aria-controls="settings">Settings</a>
          </li>
        </ul>
      </div>
      <div class="card-block">
        <div class="tab-content">
          <div class="tab-pane active" id="profile" role="tabpanel">
            <div class="text-center" style="padding:30px;">
              <h4 style="padding:20px">DeviceID :
                <input class="text-center" type="text" value="<%= device.deviceID %>" id="myID">
                <button style="margin-bottom:10px;font-size:100%" onClick="copy('myID')"><i class="icon-copy"></i></button>
              </h4>
              <h4 style="padding:20px">DeviceKey :
                <input class="text-center" type="text" value="<%= device.deviceKey %>" id="myKey">
                <button style="margin-bottom:10px;font-size:100%" onClick="copy('myKey')"><i class="icon-copy"></i></button>
              </h4>
              <h4 style="padding:20px">DeviceSecret :
                <input class="text-center" type="text" value="<%= device.deviceSecret %>" id="mySecret">
                <button style="margin-bottom:10px;font-size:100%" onClick="copy('mySecret')"><i class="icon-copy"></i></button>
              </h4>
              <h4>
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#confirmModal">Reset DeviceKey and DeviceSecret</button>
              </h4>
              <script>
                function copy(id) {
                  var copyText = document.getElementById(id);
                  copyText.select();
                  document.execCommand("Copy")
                }
              </script>
            </div>
          </div>
          <!-- <div class="tab-pane" id="messages" role="tabpanel">
            <div class=" container" id="chatbox" style="height:300px;overflow-y:scroll;">
            </div>
            <div style "position:absolute; bottom:0; background:#2F3131">
              <form id="messageForm">
                <div class="form-group">
                  <input class="form-control" id="textMessage" name="message" type="text" placeholder="Message">
                  <input type="submit" hidden>
                </div>
              </form>
            </div>
          </div> -->
          <div class="tab-pane" id="riskmo" role="tabpanel">
            <form id="create-risk-form" style="width: 100%" action="/createrisk/<%= device.deviceID %>/<%= device._id %>" method="POST">
              <div class="container ctab text-center scroll-box" style="padding:30px;">
                <h3 style="color: black"> Risk Threshold</h3>
                <div class="form-group form-inline justify-content-center">
                  <!-- <div class="input-group" style="margin-right:20px">
                    <div class="input-group-prepend" style="margin-right:10px">
                      <label class="input-group-text" for="operation">Operation*</label>
                    </div>
                    <select class="custom-select" id="operation" name="operation" required>
                      <option selected>Choose...</option>
                      <option value="less">Less than</option>
                      <option value="equal">Equal</option>
                      <option value="more">More than</option>
                    </select>
                  </div> -->
                  <input type="text" class="form-control" name="threshold" placeholder="threshold*" style="width:22%" required>
                </div>
                <div style="text-align:center">
                  <p style="width:100%">_____________</p>
                </div>
                <h3 style="color: black"> Risk Modifier</h3>
                <label for="inputName">Value*</label>
                <div id="value-group">
                  <div class="form-group form-inline justify-content-center addform">
                    <input type="text" class="form-control form-ans" name="keyvalue" placeholder="value name" style="width:22%" required>
                    <input type="text" class="form-control form-ans" name="covalue" placeholder="coefficient" style="width:22%">
                    <!-- <input type="text" class="form-control" name="sqvalue" placeholder="square" style="width:22%"> -->
                    <button type="button" class="btn btn-plus btnDel">-</button>
                  </div>
                </div>
                <div class="justify-content-center" style="margin-bottom:20px">
                  <button type="button" class="btn btn-plus" id="addvalue">+</button>
                </div>
                <label for="inputName">Radius from Water</label>
                <div class="form-group form-inline justify-content-center">
                  <input type="text" class="form-control" name="cowater" placeholder="coefficient" style="width:22%">
                  <!-- <input type="text" class="form-control" name="sqwater" placeholder="square" style="width:22%"> -->
                </div>
                <label for="inputName">Radius from Road</label>
                <div class="form-group form-inline justify-content-center">
                  <input type="text" class="form-control" name="coroad" placeholder="coefficient" style="width:22%">
                  <!-- <input type="text" class="form-control" name="sqroad" placeholder="square" style="width:22%"> -->
                </div>
                <label for="inputName">Rain</label>
                <div class="form-group form-inline justify-content-center">
                  <input type="text" class="form-control" name="corain" placeholder="coefficient" style="width:22%">
                  <!-- <input type="text" class="form-control" name="sqrain" placeholder="square" style="width:22%"> -->
                </div>
                <label for="inputName">Wind</label>
                <div class="form-group form-inline justify-content-center">
                  <input type="text" class="form-control" name="cowind" placeholder="coefficient" style="width:22%">
                  <!-- <input type="text" class="form-control" name="sqwind" placeholder="square" style="width:22%"> -->
                </div>
                <label for="inputName">Humidity</label>
                <div class="form-group form-inline justify-content-center">
                  <input type="text" class="form-control" name="cohumid" placeholder="coefficient" style="width:22%">
                  <!-- <input type="text" class="form-control" name="sqhumid" placeholder="square" style="width:22%"> -->
                </div>
                <label for="inputName">Temparature</label>
                <div class="form-group form-inline justify-content-center">
                  <input type="text" class="form-control" name="cotemp" placeholder="coefficient" style="width:22%">
                  <!-- <input type="text" class="form-control" name="sqtemp" placeholder="square" style="width:22%"> -->
                </div>
                <div style="text-align:center">
                  <p style="width:100%">_____________</p>
                </div>
                <h3 style="color: black"> Alert setting</h3>
                <div class="form-group">
                  <label for="email">Email*</label>
                  <input type="email" class="form-control" name="email" placeholder="email" required>
                </div>
                <div class="form-group">
                  <label for="subject">Subject*</label>
                  <input type="text" class="form-control" name="subject" placeholder="subject" required>
                </div>
                <div class="form-group">
                  <label for="content">Content*</label>
                  <textarea class="form-control" name="content" rows="3" required></textarea>
                </div>
              </div>
              <div style="text-align:right; margin-right:30px">
                <button type="submit" form="create-risk-form" class="btn btn-secondary">Create</button>
              </div>
            </form>
          </div>
          <div class="tab-pane" id="settings" role="tabpanel">
            <form id="editdeviceForm" style="width: 100%" action="/editdevice/<%= device.deviceID %>/<%= device.id %>" method="POST">
              <div class="container ctab text-center scroll-box" style="padding:30px;">
                <div class="form-group">
                  <div>
                    <h3 style="color: black">Edit device</h3>
                  </div>
                  <div class="form-group form-inline justify-content-center">
                    <label for="email" style="margin-right: 20px">Device name : </label>
                    <input type="text" class="form-control" name="dename" placeholder="device name" style="width:34%" required>
                  </div>
                  <div class="form-group form-inline justify-content-center">
                    <label for="subject" style="margin-right: 20px">Description :</label>
                    <textarea type="text" class="form-control" name="dedesc" placeholder="description" style="width:35%; height:200px"></textarea>
                  </div>
                  <!-- <label style="margin-right:30px">Line Color :</label>
                  <div class="form-check form-check-inline" style="margin-left:20px">
                    <input class="form-check-input" type="radio" name="lineColor" value="Blue">
                    <label class="form-check-label" for="inlineRadio1" style="margin-right:30px">Blue</label>
                  </div> -->
                  <!-- <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="lineColor" value="Green">
                    <label class="form-check-label" for="inlineRadio2" style="margin-right:30px">Green</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="lineColor" value="Yellow">
                    <label class="form-check-label" for="inlineRadio3" style="margin-right:30px">Yellow</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="lineColor" value="Black">
                    <label class="form-check-label" for="inlineRadio4" style="margin-right:30px">Black</label>
                  </div> -->
                  <div style="text-align:center">
                    <p style="width:100%">_____________</p>
                  </div>
                  <h3 style="color: black"> Edit External Data</h3>
                  <div class="form-group form-inline justify-content-center">
                    <input class="form-check-input" name="geoWaterCheck" type="checkbox" value="true" style="margin-right:20px">
                    <label for="inputName" style="margin-right:20px">Radius from Water :</label>
                    <input name="geoWaterVal" type="number" class="form-control" placeholder="example 5 metres" style="width:22%">
                  </div>
                  <div class="form-group form-inline justify-content-center">
                    <input class="form-check-input" name="geoRoadCheck" type="checkbox" value="true" style="margin-right:20px">
                    <label for="inputName" style="margin-right:20px">Radius from Road :</label>
                    <input name="geoRoadVal" type="number" class="form-control" placeholder="example 5 metres" style="width:22%">
                  </div>
                  <div class="form-group form-inline justify-content-center">
                    <input class="form-check-input" style="margin-right:20px" name="weatherCheck" type="checkbox" value="true">
                    <label style="margin-right:20px">Weather</label>
                  </div>
                </div>
              </div>
              <div style="text-align:right; margin-right:30px">
                <button type="submit" form="editdeviceForm" class="btn btn-secondary">Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top:20px;">
      <% if(risks.length!=0){%>
        <div class="col">
          <h2>Alertting State</h2>
          <hr style="width:48%; margin:10px 0px 10px 0px" />
        </div>
        <% } %>
    </div>
    <div class="row">
      <% if(risks) {%>
        <% var i = 1 %>
          <% risks.forEach(function(risk){ %>
            <% if(i%2==1) { %>
              <div class="col-6" style="margin-top:20px;">
                <div class="card card-data" style="height:100%">
                  <div class="row">
                    <div class="col">
                      <div class="d-flex align-items-start flex-column" style="height: 300px;">
                        <div class="p-2" style="width:100%">
                          <span style="text-align: right">
                            <button type="button" class="close" aria-label="Close" data-toggle="modal" data-target="#deleteRiskModal">
                              <span aria-hidden="true">&times;</span>
                          </button>
                          </span>
                          <b><h4>Subject : <%= risk.subject %></h4></b>
                        </div>
                        <div class="p-2">
                          <h5>To Email :
                            <%= risk.email %>
                          </h5>
                        </div>
                        <div class="p-2" style="overflow:auto">
                          <h5>content : </h5>
                          <%= risk.content %>
                        </div>
                        <div class="mt-auto p-2">
                          <h5>Threshold :
                            <%= risk.threshold %>
                          </h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <% i++ %>
                <% } else { %>
                  <div class="col-6" style="margin-top:20px;">
                    <div class="card card-data" style="height:100%">
                      <div class="row">
                        <div class="col">
                          <div class="d-flex align-items-start flex-column" style="height: 300px;">
                            <div class="p-2" style="width:100%">
                              <span style="text-align: right">
                              <button type="button" class="close" aria-label="Close" data-toggle="modal" data-target="#deleteRiskModal">
                                <span aria-hidden="true">&times;</span>
                              </button>
                              </span>
                              <b><h4>Subject : <%= risk.subject %></h4></b>
                            </div>
                            <div class="p-2">
                              <h5>To Email :
                                <%= risk.email %>
                              </h5>
                            </div>
                            <div class="p-2" style="overflow:auto">
                              <h5>content : </h5>
                              <%= risk.content %>
                            </div>
                            <div class="mt-auto p-2">
                              <h5>Threshold :
                                <%= risk.threshold %>
                              </h5>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <% i++ %>
                    <% } %>
                      <% }); %>
                        <% } %>
    </div>
    <div style="height:50px"></div>
  </div>
  <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Comfirming</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
          Your "DeviceKey" and "DeviceSecret" will be permanently changed.
          <br/> Are you sure you want to continue?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <a class="alink" href="/reset/device/<%= device._id %>">
            <button type="button" class="btn btn-danger">Save</button>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Warning! Deleting device</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
          Your
          <b>Device:
              <%= device.name %>
            </b> will be permanently deleted.
          <br/> Are you sure you want to continue?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <a class="nav-link" href="/remove/device/<%= device.deviceID %>">
            <button type="button" class="btn btn-danger">Delete</button>
          </a>
        </div>
      </div>
    </div>
  </div>
  <% risks.forEach(function(risk){ %>
    <div class="modal fade" id="deleteRiskModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Warning! Deleting Risk Setting</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
            Your
            <b>Risk setting subject:
                <%= risk.subject %>
              </b> will be permanently deleted.
            <br/> Are you sure you want to continue?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <a class="nav-link" href="/remove/risk/<%= device.deviceID %>/<%= risk._id %>">
              <button type="button" class="btn btn-danger">Delete</button>
            </a>
          </div>
        </div>
      </div>
    </div>
    <% }); %>


      <% include footer.ejs %>
      <script>
        function onpopup() {
            var popup = document.getElementById("myPopup");
            popup.classList.toggle("show");
        }
      </script>
        <!-- <script src="/mypublic/assets/js/paho-mqtt.js"></script>
        <script>
          device = <%- JSON.stringify(device) %>;
          // Create a client instance
          client = new Paho.MQTT.Client("localhost", Number('8081'), "mes" + device.deviceID);
          console.log(client);
          // set callback handlers
          client.onConnectionLost = onConnectionLost;
          client.onMessageArrived = onMessageArrived;
          // connect the client
          console.log("connecting...");
          client.connect({
            onSuccess: onConnect,
            onFailure: onFailure,
            userName: device.deviceKey,
            password: device.deviceSecret
          });

          function onFailure(err) {
            console.log("connect fail!!");
            console.log(err);
          }

          function onConnect() {
            // Once a connection has been made, make a subscription and send a message.
            console.log("onConnect");
            client.subscribe("/" + device.deviceID + "/message");
          }
          // called when the client loses its connection
          function onConnectionLost(responseObject) {
            if (responseObject.errorCode !== 0) {
              console.log("onConnectionLost:" + responseObject.errorMessage);
            }
          }

          // called when a message arrives
          function onMessageArrived(message) {
            console.log(message.destinationName);
            console.log("onMessageArrived:" + message.payloadString);
            var elm = '<div style="padding:10px">' +
              '<div class="card" style="width: 15rem;padding:10px;background:grey;">' +
              '<h4 class="card-title">DEVICE:</h4>' +
              '<p class="card-text">' + message.payloadString + '</p>' +
              '</div>' +
              '</div>'
            $(elm).appendTo(document.getElementById("chatbox"));
          }

        </script>
        <script>
          function onConnect() {
            // Once a connection has been made, make a subscription and send a message.
            console.log("onConnect");
            client.subscribe("/" + device.deviceID + "/message");
            client.subscribe("/" + device.deviceID + "/log");
          }
          // called when the client loses its connection
          function onConnectionLost(responseObject) {
            if (responseObject.errorCode !== 0) {
              console.log("onConnectionLost:" + responseObject.errorMessage);
            }
          }

          // called when a message arrives
          function onMessageArrived(message) {
            console.log(message.destinationName);
            console.log("onMessageArrived:" + message.payloadString);
            var d = new Date();
            var elm = '<div style="padding:10px">' +
              '<div class="card" style="width: 25rem;padding:10px;background:grey;">' +
              '<h4 class="card-title">DEVICE:</h4>' +
              '<p class="card-text">' + message.payloadString + '</p>' +
              '<p class="card-text" style="font-size:40%;align:right;">' + "recieve :" + d.toUTCString().substring(0, 25) + '</p>' +
              '</div>' +
              '</div>'
            $(elm).appendTo(document.getElementById("chatbox"));
          }

          function onpopup() {
            var popup = document.getElementById("myPopup");
            popup.classList.toggle("show");
          }

        </script>

        <script>
          // var newvalue = '<div class="form-group form-inline justify-content-center"><input type="text" class="form-control" name="keyvalue" placeholder="value name" style="width:22%" required><input type="text" class="form-control" name="covalue" placeholder="coefficient" style="width:22%"><input type="text" class="form-control" name="sqvalue" placeholder="square" style="width:22%"><button type="button" class="btn btn-plus btnDel">-</button></div>'
          var num = $('#value-group').length;
          $("#addvalue").click(function() {
            // $("#value-group").append(newvalue);
            $("#value-group > .addform:first-child").clone(true).insertBefore("#value-group > .addform:last-child");
            num++;
            $('.btnDel').prop('disabled', false);
            return false;
          });

          $(".btnDel").click(function() {
            $(this).parent().remove();
            num--;
            if (num == 1) $('.btnDel').prop('disabled', true);
          });

          $('.btnDel').prop('disabled', true);

        </script> -->


        <!-- <% include alertMessageModal.ejs %> -->
        <script>
            // var newvalue = '<div class="form-group form-inline justify-content-center"><input type="text" class="form-control" name="keyvalue" placeholder="value name" style="width:22%" required><input type="text" class="form-control" name="covalue" placeholder="coefficient" style="width:22%"><input type="text" class="form-control" name="sqvalue" placeholder="square" style="width:22%"><button type="button" class="btn btn-plus btnDel">-</button></div>'
            var num = $('#value-group').length;
            $("#addvalue").click(function() {
              // $("#value-group").append(newvalue);
              $("#value-group > .addform:first-child").clone(true).insertBefore("#value-group > .addform:last-child");
              num++;
              $('.btnDel').prop('disabled', false);
              return false;
            });
  
            $(".btnDel").click(function() {
              $(this).parent().remove();
              num--;
              if (num == 1) $('.btnDel').prop('disabled', true);
            });
  
            $('.btnDel').prop('disabled', true);
          </script>