<% include header.ejs %>
  <link rel="stylesheet" href="/mypublic/assets/css/CSSindex.css">
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.43.0/mapbox-gl.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.43.0/mapbox-gl.css' rel='stylesheet' />
  <!-- Load openweatherIcon.scss -->
  <link href="/mypublic/assets/css/open-weather-icons.css" rel="stylesheet">
  <!-- Load c3.css -->
  <link href="/mypublic/assets/css/c3.css" rel="stylesheet">
  <!-- Load d3.js and c3.js -->
  <script src="/mypublic/assets/css/d3.v3.min.js" charset="utf-8"></script>
  <script src="/mypublic/assets/css/c3.min.js"></script>

  <style>
    .row {
      margin: 0;
    }

  </style>
  <div class="container">
    <div class='row'>
      <div class="col">
        <h1>
          <%= project.name %>
        </h1>
      </div>
      <div class="col" style="text-align:right">
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">
          <i class="fas fa-trash"></i> Delete Project
        </button>
        <a href="/repository">
          <button type="button" class="btn btn-primary" style="margin-left:20px">
            back
          </button>
        </a>
      </div>
    </div>
    <hr/>
    <div class="row">
      <div class="col">
        <% if(project.desc.length!=0){%>
          <h2>Description</h2>
          <hr style="width:48%" />
          <p style="color:white">
            <%= project.desc %>
          </p>
          <br/>
          <% } %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h2>Devices in the project</h2>
        <hr style="width:48%" />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <!-- <input type="text" class="form-control" style="width:180%" name="deviceid" placeholder="DeviceID..."> -->
        <form id="addDeviceForm" action="/project/<%= project.id %>" method="POST">
          <select class="custom-select device-select" name="deviceid" style="width:100%">
            <% allDevices.forEach(function(device){ %>
              <option class="custom-option" value="<%= device.deviceID %>">
                <%= device.name %>
              </option>
              <% }); %>
          </select>
        </form>
      </div>
      <div class="col">
        <button type="submit" form="addDeviceForm" class="btn btn-primary" style="margin-left:10px">Add device</button>
      </div>
    </div>
    <div class="row" style="margin-top:20px;">
      <div class="col">
        <table class="table table-dark table-hover">
          <thead>
            <tr>
              <th>Device Name</th>
              <th>Status</th>
              <th>Last Online</th>
              <th>Score</th>
              <th>Risk</th>
              <th>Handle</th>
            </tr>
          </thead>
          <tbody>
            <% if(devices){ %>
              <% devices.forEach(function(device){ %>
                <tr>
                  <td>
                    <%= device.name %>
                  </td>
                  <% if(device.online){ %>
                    <td>
                      <span class="badge badge-pill badge-success" id="isOnline<%= device.deviceID %>">Online</span>
                    </td>
                    <% }else{ %>
                      <td>
                        <span class="badge badge-pill badge-warning" id="isOnline<%= device.deviceID %>">Offline</span>
                      </td>
                      <% } %>
                        <td>
                          <%- device.lastOnline.toString().substring(0,25) %>
                        </td>
                        <td id="score<%=device.deviceID%>">...</td>
                        <td><h4><span id="risk-tag<%=device.deviceID%>" class="badge badge-info" >Normal</span></h4></td>
                        <td>
                          <!--<a class="btn btn-danger btn-sm" href="/project/<%= project._id %>/remove/<%= device.deviceID %>">
                            Delete from project
                          </a>-->
                          <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deletefromproject">
                            Delete from Project
                          </button>
                          <button type="button" style="background:transparent; border-color:transparent;" class="btn btn-secondary" data-toggle="tooltip" data-placement="right" title="coefficient: <%= device.riskRule %>">
                            <i class="fas fa-info-circle"></i>
                          </button>
                        </td>
                </tr>
                <% }); %>
                  <% } %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row" style="margin-top:20px;">
      <div class="col">
        <h2>Map</h2>
        <div class="card" style="height:500px">
          <div id='map' style="position:absolute; height:100% ;top:0; bottom:0; width:100%;"></div>
        </div>
      </div>
    </div>
    <!-- <div class="row" style="margin-top:20px;">
      <div class="col">
        <h2>Setting: Risk modified</h2>
        <hr/>
        <div>
          <div class="row">
            <div class="col">
              <h3>Weather</h3>
            </div>
            <div class="col" style="text-align:right;">
              <label class="switch" data-toggle="collapse" data-target="#">
                <input type="checkbox">
                <span class="slider round"></span>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <h3>Geolocation</h3>
            </div>
            <div class="col" style="text-align:right;">
              <label class="switch" data-toggle="collapse" data-target="#">
                <input type="checkbox">
                <span class="slider round"></span>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <h3>Temparature</h3>
            </div>
            <div class="col" style="text-align:right;">
              <label class="switch" data-toggle="collapse" data-target="#">
                <input type="checkbox">
                <span class="slider round"></span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <% for(var i = 0 ; i < devices.length ; i++){ %>
      <% if(devices[i]){ %>
        <div class="row" style="margin-top:20px;">
          <div class="col">
            <div class="row">
              <h2>Device
                <%= i+1 %>
              </h2>
              <div style="margin-left:30px;">
                <label class="switch" data-toggle="collapse" data-target="#device<%= i+1 %>">
                  <input type="checkbox">
                  <span class="slider round"></span>
                </label>
              </div>
            </div>
            <div class="row" style="width:100%">
              <div class="collapse" id="device<%= i+1 %>" style="width:100%">
                <div class="card card-data">

                  <div class="row">
                    <% if (devices[i].data && devices[i].data.weather){ %>
                      <!-- weather widget -->
                      <div class="col">
                        <div class="row">
                          <h3 style="color:black;">Current weather</h3>
                        </div>
                        <div class="row widget navy-bg" style="margin:1%">
                          <div class="row">
                            <div class="col">
                              <i class="owi owi-<%= devices[i].data.weather.weather[0].icon %>" id="icon<%= devices[i].deviceID %>" style="font-size:300%;"></i>
                              <h4 id="desc<%= devices[i].deviceID %>">
                                <%= devices[i].data.weather.weather[0].description %>
                              </h4>
                            </div>
                            <div class="col">
                              <p class="widget-font" id="wind<%= devices[i].deviceID %>">Wind
                                <%= devices[i].data.weather.wind %> m/s</p>
                              <p class="widget-font" id="humid<%= devices[i].deviceID %>">Humidity
                                <%= devices[i].data.weather.humidity%> %</p>
                              <p class="widget-font" id="temp<%= devices[i].deviceID %>">Temperature
                                <%= devices[i].data.weather.temp %> K</p>
                            </div>
                          </div>
                          <div class="row">
                            <h3 id="city<%= devices[i].deviceID %>">
                              <%= devices[i].data.weather.city %>
                            </h3>
                          </div>
                          <div class="row">
                            <p id="update<%= devices[i].deviceID %>">update :
                              <%= Date().toLocaleString().substring(0,25) %>
                            </p>
                          </div>
                        </div>
                      </div>
                      <!-- weather widget -->
                      <!-- forecast weather widget -->
                      <div class="col">
                        <div class="row">
                          <h3 style="color:black;">Weather in next 3 hours</h3>
                        </div>
                        <div class="row widget navy-bg" style="margin:1%;background-color:#426E86">
                          <div class="row">
                            <div class="col">
                              <i class="owi owi-<%= devices[i].data.weather.weather[0].icon %>" id="forecastIcon<%= devices[i].deviceID %>" style="font-size:300%;"></i>
                              <h4 id="forecastDesc<%= devices[i].deviceID %>">
                                <%= devices[i].data.forecastWeather.weather[0].description %>
                              </h4>
                            </div>
                            <div class="col">
                              <p class="widget-font" id="forecastWind<%= devices[i].deviceID %>">Wind
                                <%= devices[i].data.forecastWeather.wind %> m/s</p>
                              <p class="widget-font" id="forecastHumid<%= devices[i].deviceID %>">Humidity
                                <%= devices[i].data.forecastWeather.humidity%> %</p>
                              <p class="widget-font" id="forecastTemp<%= devices[i].deviceID %>">Temperature
                                <%= devices[i].data.forecastWeather.temp %> K</p>
                            </div>
                          </div>
                          <div class="row">
                            <h3 id="forecastCity<%= devices[i].deviceID %>">
                              <%= devices[i].data.weather.city %>
                            </h3>
                          </div>
                          <div class="row">
                            <p>_____________________
                            </p>
                          </div>
                        </div>
                      </div>
                      <!-- forecast weather widget -->
                      <% } %>
                  </div>
                  <div class="row">
                    <h4 style="color:black;">__________________</h4>
                  </div>
                  <div class="row">
                    <h4 style="color:black;">Graph</h4>
                  </div>
                  <div class="row">
                    <div id="chart<%= devices[i].deviceID %>" style="max-width:100%;max-height:100%;"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <% } %>
          <% }; %>
          <div style="height:50px"></div>
  </div>
  <!-- <p style="color:white">Weather icon: <a href="https://www.freepik.com/free-vector/weather-forecast-icons_755312.htm">Designed by Freepik</a></p> -->
  

  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Warning! Deleting device</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Your
          <b> Project:
            <%= project.name %>
          </b> will be permanently deleted.
          <br/> Are you sure you want to continue?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <a class="nav-link" href="/remove/project/<%= project._id %>">
            <button type="button" class="btn btn-danger">Delete</button>
          </a>
        </div>
      </div>
    </div>
  </div>
  <% project.devices.forEach(function(device){ %>
    <div class="modal fade" id="deletefromproject" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Warning! Deleting device</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Your device will be deleted from project:
            <%= project.name %>
              <br/> Are you sure you want to continue?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <a class="nav-link" href="/project/<%= project._id %>/remove/<%= device %>">
              <button type="button" class="btn btn-danger">Delete</button>
            </a>
          </div>
        </div>
      </div>
    </div>
    <% }); %>

      <script>
        mapboxgl.accessToken = 'pk.eyJ1Ijoia2FtZW1vcyIsImEiOiJjamJseHB4ZGIzNzV5MzNyNjJkanEzcjdlIn0.799r9GCkmUnwkw96jkeWWA';
        var map = new mapboxgl.Map({
          container: 'map', // container id
          style: 'mapbox://styles/mapbox/streets-v9', // stylesheet location
          center: [100.523186, 13.736717], // starting position [lng, lat]
          zoom: 5 // starting zoom
        });
        var devices = <%- JSON.stringify(devices) %>;

      </script>
      <script>
        map.on('load', function() {
          ////////////////////////////
          devices.forEach(function(device) {
            if (device.data) {
              $.getJSON("http://localhost:3352/alldata/line/" + device.deviceID, function(data) {
                map.addLayer(data.line);
              });
            }
          })
          map.loadImage('/mypublic/assets/images/pos_icon.png', function(error, image) {
            if (error) throw error;
            map.addImage('icon', image);
            devices.forEach(function(device) {
              if (device.data) {
                console.log(device.deviceID);
                map.addLayer({
                  "id": "" + device.deviceID,
                  "type": "symbol",
                  "source": {
                    "type": "geojson",
                    "data": {
                      "type": "FeatureCollection",
                      "features": [{
                        "type": "Feature",
                        "geometry": {
                          "type": "Point",
                          "coordinates": [device.data.pos[0], device.data.pos[1]]
                        }
                      }]
                    }
                  },
                  "layout": {
                    "icon-image": 'icon',
                    "icon-size": 0.25,
                    'icon-allow-overlap': true
                  }
                });
              }
            })
          });
          ////////////////////////////
        });
<<<<<<< HEAD
        devices.forEach(function (device) {
          map.on('click', "" + device.deviceID, function (e) {
=======
        window.setInterval(function() {
          devices.forEach(function(device) {
            if (device.data) {
              $.getJSON("/data/" + device.deviceID, function(data) {
                if (data) {}
                var coor = map.getSource("route" + data.deviceID)._data.geometry.coordinates;
                coor.push([data.pos[0], data.pos[1]]);
                map.getSource("route" + data.deviceID).setData({
                  "type": "Feature",
                  "properties": {},
                  "geometry": {
                    "type": "LineString",
                    "coordinates": coor
                  }
                });
                map.getSource("" + data.deviceID).setData({
                  "type": "FeatureCollection",
                  "features": [{
                    "type": "Feature",
                    "geometry": {
                      "type": "Point",
                      "coordinates": [data.pos[0], data.pos[1]]
                    }
                  }],
                  "layout": {
                    "icon-image": 'icon',
                    "icon-size": 0.25,
                    'icon-allow-overlap': true
                  }
                });
                var date = new Date(data.timeStamp);
                // document.getElementById("dateID" + device.deviceID).innerHTML = date;
                // document.getElementById("cityID" + device.deviceID).innerHTML = data.city;
                // document.getElementById("windID" + device.deviceID).innerHTML = "Wind: " + data.wind;
                // document.getElementById("weatherID" + device.deviceID).innerHTML = data.weather.main;
                // document.getElementById("tempID" + device.deviceID).innerHTML = (data.temp - 273).toString().substring(0, 4) + "°C";
              })
            }
          });
        }, 10000);
        devices.forEach(function(device) {
          map.on('click', "" + device.deviceID, function(e) {
>>>>>>> origin/master
            map.flyTo({
              center: e.features[0].geometry.coordinates,
              zoom: 15
            });
            new mapboxgl.Popup()
              .setLngLat(e.features[0].geometry.coordinates)
              .setHTML(device.name + "</br>" + "pos[lon,lat]:" + e.features[0].geometry.coordinates + "</br>" + device.desc)
              .addTo(map);
          });
        });

      </script>
      <script>
        if (devices) {
          for (let i = 0; i < devices.length; i++) {
            if (devices[i].data) {
              $.getJSON("/alldata/value/" + devices[i].deviceID, function(data) {
                console.log(data);
                var chart1 = c3.generate(data);
              });
            }
          }
        }

      </script>
      <script src="/mypublic/assets/js/paho-mqtt.js"></script>
      <script>
      setTimeout(function(){
        project = <%- JSON.stringify(project) %>;
        // Create a client instance
        client = new Paho.MQTT.Client(location.hostname, Number(8081), project.projectID);
        console.log(client);
        // set callback handlers
        client.onConnectionLost = onConnectionLost;
        client.onMessageArrived = onMessageArrived;
        // connect the client
        console.log("connecting...");
        client.connect({
          onSuccess: onConnect,
          onFailure: onFailure,
          userName: project.projectKey,
          password: project.projectSecret
        });

        function onFailure(err) {
          console.log("connect fail!!");
          console.log(err);
        }

        function onConnect() {
          // Once a connection has been made, make a subscription and send a message.
          console.log("onConnect");
          devices.forEach(function(device) {
            client.subscribe("/" + device.deviceID + "/proj");
          })
        }
        // called when the client loses its connection
        function onConnectionLost(responseObject) {
          if (responseObject.errorCode !== 0) {
            console.log("onConnectionLost:" + responseObject.errorMessage);
          }
        }
<<<<<<< HEAD
=======

>>>>>>> origin/master
        // called when a message arrives
        
        function onMessageArrived(message) {
          var deviceid = message.destinationName.split('/')[1];
          var res = JSON.parse(message.payloadString);
          console.log(res);
          //////////currentWeather
          if (res.data){
            if (res.data.weather){
              document.getElementById("icon" + deviceid).className = "owi owi-"+res.data.weather.weather[0].icon;
              document.getElementById("desc" + deviceid).innerHTML = res.data.weather.weather[0].description;
              document.getElementById("wind" + deviceid).innerHTML = 'Wind '+res.data.weather.wind+' m/s';
              document.getElementById("humid" + deviceid).innerHTML = 'humid '+res.data.weather.humidity+' %';
              document.getElementById("temp" + deviceid).innerHTML = 'temp '+res.data.weather.temp+' K';
              document.getElementById("city" + deviceid).innerHTML = ''+res.data.weather.city;
              document.getElementById("update" + deviceid).innerHTML = 'update :'+Date().toLocaleString().substring(0,25);
              //////////forecastWeather
              document.getElementById("forecastIcon" + deviceid).className = "owi owi-"+res.data.forecastWeather.weather[0].icon
              document.getElementById("forecastDesc" + deviceid).innerHTML = res.data.forecastWeather.weather[0].description;
              document.getElementById("forecastWind" + deviceid).innerHTML = 'Wind '+res.data.forecastWeather.wind+' m/s';
              document.getElementById("forecastHumid" + deviceid).innerHTML = 'humid '+res.data.forecastWeather.humidity+' %';
              document.getElementById("forecastTemp" + deviceid).innerHTML = 'temp '+res.data.forecastWeather.temp+' K';
              document.getElementById("forecastCity" + deviceid).innerHTML = ''+res.data.forecastWeather.city;
            }
            //////////map
            if (res.data.pos) {
            
              var coor = map.getSource("route" + res.data.deviceID)._data.geometry.coordinates;
              coor.push([res.data.pos[0], res.data.pos[1]]);
              map.getSource("route" + res.data.deviceID).setData({
                "type": "Feature",
                "properties": {},
                "geometry": {
                  "type": "LineString",
                  "coordinates": coor
                }
              });
              map.getSource("" + res.data.deviceID).setData({
                "type": "FeatureCollection",
                "features": [{
                  "type": "Feature",
                  "geometry": {
                    "type": "Point",
                    "coordinates": [res.data.pos[0], res.data.pos[1]]
                  }
                }],
                "layout": {
                  "icon-image": 'icon',
                  "icon-size": 0.25,
                  'icon-allow-overlap': true
                }
              });
            }
            if(res.data.risks){
              var score = res.data.risks.qwe.score.toString().split('.');
              var thres = res.data.risks.qwe.threshold;
              document.getElementById("score"+deviceid).innerHTML = score[0]+'.'+score[1].substring(0,2);
              if (res.data.risks.qwe.score > res.data.risks.qwe.threshold) {
                document.getElementById("risk-tag"+deviceid).className = "badge badge-danger";
                document.getElementById("risk-tag"+deviceid).innerHTML = "RISK!!!";
              } else {
                document.getElementById("risk-tag"+deviceid).className = "badge badge-info";
                document.getElementById("risk-tag"+deviceid).innerHTML = "Normal";
              }
            } 
          }
          if(res.deviceOnline == true){
            document.getElementById("isOnline"+deviceid).className ="badge badge-pill badge-success";
            document.getElementById("isOnline"+deviceid).innerHTML ="Online";
          }
          else if(res.deviceOnline == false){
            document.getElementById("isOnline"+deviceid).className ="badge badge-pill badge-warning";
            document.getElementById("isOnline"+deviceid).innerHTML ="Offline";
        
          }
        }
<<<<<<< HEAD
      },3000);
=======

>>>>>>> origin/master
      </script>
      <% include footer.ejs %>
        <!-- <% include alertMessageModal.ejs %> -->
