<% include header.ejs %>
  <link rel="stylesheet" href="/mypublic/assets/css/CSSindex.css">
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.43.0/mapbox-gl.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.43.0/mapbox-gl.css' rel='stylesheet' />

  <!-- Load c3.css -->
  <link href="/mypublic/assets/css/c3.css" rel="stylesheet">

  <!-- Load d3.js and c3.js -->
  <script src="/mypublic/assets/css/d3.v3.min.js" charset="utf-8"></script>
  <script src="/mypublic/assets/css/c3.min.js"></script>

  <style>
    .row {
      margin: 0;
    }

  </style>
  <div class="container">
    <div class='row'>
      <div class="col">
        <h1>
          <%= project.name %>
        </h1>
      </div>
      <div class="col" style="text-align:right">
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">
          <i class="fas fa-trash"></i> Delete Project
        </button>
        <a href="/repository">
          <button type="button" class="btn btn-primary" style="margin-left:20px">
            back
          </button>
        </a>
      </div>
    </div>
    <hr/>
    <div class="row">
      <div class="col">
        <h2>Description</h2>
        <hr style="width:48%" />
        <p style="color:white">
          <%= project.desc %>
        </p>
        <br/>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h2>Devices in the project</h2>
        <hr style="width:48%" />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <!-- <input type="text" class="form-control" style="width:180%" name="deviceid" placeholder="DeviceID..."> -->
        <form id="addDeviceForm" action="/project/<%= project.id %>" method="POST">
          <select class="custom-select" name="deviceid" style="width:100%">
          <% allDevices.forEach(function(device){ %>
            <option class="custom-option" value="<%= device.deviceID %>"><%= device.name %></option>
          <% }); %>
          </select>
        </form>
      </div>
      <div class="col"><button type="submit" form="addDeviceForm" class="btn btn-primary" style="margin-left:10px">Add device</button></div>
    </div>
    <div class="row" style="margin-top:20px;">
      <div class="col">
        <table class="table table-dark table-hover">
          <thead>
            <tr>
              <th>Device Name</th>
              <th>Status</th>
              <th>Last Online</th>
              <th>State</th>
              <th>Handle</th>
            </tr>
          </thead>
          <tbody>
            <% if(devices){ %>
              <% devices.forEach(function(device){ %>
                <tr>
                  <td>
                    <%= device.name %>
                  </td>
                  <% if(device.online){ %>
                    <td>
                      <span class="badge badge-pill badge-success">Online</span>
                    </td>
                    <% }else{ %>
                      <td>
                        <span class="badge badge-pill badge-warning">Offline</span>
                      </td>
                      <% } %>
                        <td>
                          <%= device.lastOnline %>
                        </td>
                        <td>...</td>
                        <td>
                          <!--<a class="btn btn-danger btn-sm" href="/project/<%= project._id %>/remove/<%= device.deviceID %>">
                            Delete from project
                          </a>-->
                          <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deletefromproject">
                            Delete from Project
                          </button>
                        </td>
                </tr>
                <% }); %>
                  <% } %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h2>Setting: Risk modified</h2>
        <hr/>
        <div>
          <div class="row">
            <div class="col">
              <h3>Weather</h3>
            </div>
            <div class="col" style="text-align:right;">
              <label class="switch" data-toggle="collapse" data-target="#">
                <input type="checkbox">
                <span class="slider round"></span>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <h3>Geolocation</h3>
            </div>
            <div class="col" style="text-align:right;">
              <label class="switch" data-toggle="collapse" data-target="#">
                <input type="checkbox">
                <span class="slider round"></span>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <h3>Temparature</h3>
            </div>
            <div class="col" style="text-align:right;">
              <label class="switch" data-toggle="collapse" data-target="#">
                <input type="checkbox">
                <span class="slider round"></span>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <h2>Map</h2>
        <div class="card" style="height:500px">
          <div id='map' style="position:absolute; height:100% ;top:0; bottom:0; width:100%;"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col col-data">
        <% if(devices[0]){ %>
          <div class="row">
            <h2>Device 1</h2>
            <div style="margin-left:30px;">
              <label class="switch" data-toggle="collapse" data-target="#device1">
              <input type="checkbox">
              <span class="slider round"></span>
            </label>
            </div>
          </div>
          <div class="row" style="width:100%">
            <div class="collapse" id="device1" style="width:100%">
              <div class="card card-data">
                <div class="row">
                  <div class="col">
                    <h4>Pathumwan, Bangkok</h4>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <h6>Wednesday 9 October 2018</h6>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <h6><b>Rainy Day</b></h6>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <img src="/mypublic/assets/images/rainy.jpg" alt="rainy" height="100" />
                  </div>
                  <div class="col">
                    <h1 style="color:rgb(82, 82, 82); font-size:3em;">32°C</h1>
                    <h6 >Humidity: 58%</h6>
                    <h6>Wind: 11km/hr</h6>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="row">
                      <div class="col">
                        <p style="margin:0px">Sat: 28°/34°</p>
                        <img src="/mypublic/assets/images/rainy.jpg" alt="rainy" height="32" />
                      </div>
                      <div class="col">
                        <p style="margin:0px">Sat: 28°/34°</p>
                        <img src="/mypublic/assets/images/rainy.jpg" alt="rainy" height="32" />
                      </div>
                      <div class="col">
                        <p style="margin:0px">Sat: 28°/34°</p>
                        <img src="/mypublic/assets/images/rainy.jpg" alt="rainy" height="32" />
                      </div>
                      <div class="col">
                        <p style="margin:0px">Sat: 28°/34°</p>
                        <img src="/mypublic/assets/images/rainy.jpg" alt="rainy" height="32" />
                      </div>
                      <div class="col">
                        <p style="margin:0px">Sat: 28°/34°</p>
                        <img src="/mypublic/assets/images/rainy.jpg" alt="rainy" height="32" />
                      </div>
                    </div>
                  </div>
                </div>
                <div style="text-align:center">
                  <p style="width:100%">_____________</p>
                </div>
                <div class="row">
                  <div class="col">
                    <h4>Data from device 1</h4>
                    <div id="chart1"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% } %>
      </div>

      <div class="col col-data">
        <% if(devices[1]){ %>
          <div class="row">
            <h2>Device 2</h2>
            <div style="margin-left:30px;">
              <label class="switch" data-toggle="collapse" data-target="#device2">
              <input type="checkbox">
              <span class="slider round"></span>
            </label>
            </div>
          </div>
          <div class="row" style="width:100%">
            <div class="collapse" id="device2" style="width:100%">
              <div class="card card-data">
                <div class="row">
                  <div class="col">
                    <h4>Pathumwan, Bangkok</h4>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <h6>Wednesday 9 October 2018</h6>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <h6><b>Rainy Day</b></h6>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <img src="/mypublic/assets/images/rainy.jpg" alt="rainy" height="100" />
                  </div>
                  <div class="col">
                    <h1 style="color:rgb(82, 82, 82); font-size:3em;">32°C</h1>
                    <h6>Humidity: 58%</h6>
                    <h6>Wind: 11km/hr</h6>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="row">
                      <div class="col">
                        <p style="margin:0px">Sat: 28°/34°</p>
                        <img src="/mypublic/assets/images/rainy.jpg" alt="rainy" height="32" />
                      </div>
                      <div class="col">
                        <p style="margin:0px">Sat: 28°/34°</p>
                        <img src="/mypublic/assets/images/rainy.jpg" alt="rainy" height="32" />
                      </div>
                      <div class="col">
                        <p style="margin:0px">Sat: 28°/34°</p>
                        <img src="/mypublic/assets/images/rainy.jpg" alt="rainy" height="32" />
                      </div>
                      <div class="col">
                        <p style="margin:0px">Sat: 28°/34°</p>
                        <img src="/mypublic/assets/images/rainy.jpg" alt="rainy" height="32" />
                      </div>
                      <div class="col">
                        <p style="margin:0px">Sat: 28°/34°</p>
                        <img src="/mypublic/assets/images/rainy.jpg" alt="rainy" height="32" />
                      </div>
                    </div>
                  </div>
                </div>
                <div style="text-align:center">
                  <p style="width:100%">_____________</p>
                </div>
                <div class="row">
                  <div class="col">
                    <h4>Data from device 2</h4>
                    <div id="chart2"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% } %>
      </div>
    </div>

    <div class="row">
      <div class="col col-data">
        <% if(devices[2]){ %>
          <div class="row">
            <h2>Device 3</h2>
            <div style="margin-left:30px;">
              <label class="switch" data-toggle="collapse" data-target="#device3">
              <input type="checkbox">
              <span class="slider round"></span>
            </label>
            </div>
          </div>
          <div class="row" style="width:100%">
            <div class="collapse" id="device3" style="width:100%">
              <div class="card card-data">
                <div class="row">
                  <div class="col">
                    <h4>Pathumwan, Bangkok</h4>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <h6>Wednesday 9 October 2018</h6>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <h6><b>Rainy Day</b></h6>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <img src="/mypublic/assets/images/rainy.jpg" alt="rainy" height="100" />
                  </div>
                  <div class="col">
                    <h1 style="color:rgb(82, 82, 82); font-size:3em;">32°C</h1>
                    <h6>Humidity: 58%</h6>
                    <h6>Wind: 11km/hr</h6>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="row">
                      <div class="col">
                        <p style="margin:0px">Sat: 28°/34°</p>
                        <img src="/mypublic/assets/images/rainy.jpg" alt="rainy" height="32" />
                      </div>
                      <div class="col">
                        <p style="margin:0px">Sat: 28°/34°</p>
                        <img src="/mypublic/assets/images/rainy.jpg" alt="rainy" height="32" />
                      </div>
                      <div class="col">
                        <p style="margin:0px">Sat: 28°/34°</p>
                        <img src="/mypublic/assets/images/rainy.jpg" alt="rainy" height="32" />
                      </div>
                      <div class="col">
                        <p style="margin:0px">Sat: 28°/34°</p>
                        <img src="/mypublic/assets/images/rainy.jpg" alt="rainy" height="32" />
                      </div>
                      <div class="col">
                        <p style="margin:0px">Sat: 28°/34°</p>
                        <img src="/mypublic/assets/images/rainy.jpg" alt="rainy" height="32" />
                      </div>
                    </div>
                  </div>
                </div>
                <div style="text-align:center">
                  <p style="width:100%">_____________</p>
                </div>
                <div class="row">
                  <div class="col">
                    <h4>Data from device 3</h4>
                    <div id="chart3"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% } %>
      </div>

      <div class="col col-data">
        <% if(devices[3]){ %>
          <div class="row">
            <h2>Device 4</h2>
            <div style="margin-left:30px;">
              <label class="switch" data-toggle="collapse" data-target="#device4">
              <input type="checkbox">
              <span class="slider round"></span>
            </label>
            </div>
          </div>
          <div class="row" style="width:100%">
            <div class="collapse" id="device4" style="width:100%">
              <div class="card card-data">
                <div class="row">
                  <div class="col">
                    <h4>Pathumwan, Bangkok</h4>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <h6>Wednesday 9 October 2018</h6>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <h6><b>Rainy Day</b></h6>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <img src="/mypublic/assets/images/rainy.jpg" alt="rainy" height="100" />
                  </div>
                  <div class="col">
                    <h1 style="color:rgb(82, 82, 82); font-size:3em;">32°C</h1>
                    <h6>Humidity: 58%</h6>
                    <h6>Wind: 11km/hr</h6>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="row">
                      <div class="col">
                        <p style="margin:0px">Sat: 28°/34°</p>
                        <img src="/mypublic/assets/images/rainy.jpg" alt="rainy" height="32" />
                      </div>
                      <div class="col">
                        <p style="margin:0px">Sat: 28°/34°</p>
                        <img src="/mypublic/assets/images/rainy.jpg" alt="rainy" height="32" />
                      </div>
                      <div class="col">
                        <p style="margin:0px">Sat: 28°/34°</p>
                        <img src="/mypublic/assets/images/rainy.jpg" alt="rainy" height="32" />
                      </div>
                      <div class="col">
                        <p style="margin:0px">Sat: 28°/34°</p>
                        <img src="/mypublic/assets/images/rainy.jpg" alt="rainy" height="32" />
                      </div>
                      <div class="col">
                        <p style="margin:0px">Sat: 28°/34°</p>
                        <img src="/mypublic/assets/images/rainy.jpg" alt="rainy" height="32" />
                      </div>
                    </div>
                  </div>
                </div>
                <div style="text-align:center">
                  <p style="width:100%">_____________</p>
                </div>
                <div class="row">
                  <div class="col">
                    <h4>Data from device 4</h4>
                    <div id="chart4"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% } %>
      </div>
    </div>
    <!-- <p style="color:white">Weather icon: <a href="https://www.freepik.com/free-vector/weather-forecast-icons_755312.htm">Designed by Freepik</a></p> -->
    <div style="height:50px"></div>
  </div>

  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Warning! Deleting device</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Your <b> Project:
          <%= project.name %></b> will be permanently deleted.
          <br/> Are you sure you want to continue?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <a class="nav-link" href="/remove/project/<%= project._id %>"><button type="button" class="btn btn-danger">Delete</button></a>
        </div>
      </div>
    </div>
  </div>
  <% project.devices.forEach(function(device){ %>
  <div class="modal fade" id="deletefromproject" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Warning! Deleting device</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Your device will be deleted from project:
          <%= project.name %>
            <br/> Are you sure you want to continue?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <a class="nav-link" href="/project/<%= project._id %>/remove/<%= device %>"><button type="button" class="btn btn-danger">Delete</button></a>
        </div>
      </div>
    </div>
  </div>
  <% }); %>

  <script>
    mapboxgl.accessToken = 'pk.eyJ1Ijoia2FtZW1vcyIsImEiOiJjamJseHB4ZGIzNzV5MzNyNjJkanEzcjdlIn0.799r9GCkmUnwkw96jkeWWA';
    var map = new mapboxgl.Map({
      container: 'map', // container id
      style: 'mapbox://styles/mapbox/streets-v9', // stylesheet location
      center: [0, 0], // starting position [lng, lat]
      zoom: 0 // starting zoom
    });
    var devices = <%- JSON.stringify(devices) %>;
  </script>
  <script>
    map.on('load', function() {
      ////////////////////////////
      devices.forEach(function(device){
        $.getJSON("http://localhost:3352/alldata/line/"+device.deviceID,function(data){
          map.addLayer({
            "id": "route"+device.deviceID,
            "type": "line",
            "source": {
                "type": "geojson",
                "data": {
                    "type": "Feature",
                    "properties": {},
                    "geometry": {
                        "type": "LineString",
                        "coordinates": data.line
                    }
                }
            },
            "layout": {
                "line-join": "round",
                "line-cap": "round"
            },
            "paint": {
                "line-color": "red",
                "line-width": 3,
                "line-opacity": 0.75
            }
          });
        });
      })
      map.loadImage('/mypublic/assets/images/pos_icon.png', function(error, image) {
          if (error) throw error;
          map.addImage('icon', image);
          devices.forEach(function(device){
            console.log(device.deviceID);
            map.addLayer({
                "id": ""+device.deviceID,
                "type": "symbol",
                "source": {
                    "type": "geojson",
                    "data": {
                        "type": "FeatureCollection",
                        "features": [{
                            "type": "Feature",
                            "geometry": {
                                "type": "Point",
                                "coordinates": [device.data.pos[1], device.data.pos[0]]
                            }
                        }]
                    }
                },
                "layout": {
                    "icon-image": 'icon',
                    "icon-size": 0.25,
                    'icon-allow-overlap': true
                }
            });
          })
      });
      //////////////////////////// 
    });
    window.setInterval(function(){
      devices.forEach(function(device){
        $.getJSON("/data/"+device.deviceID, function(data) {
          var coor = map.getSource("route"+data.deviceID)._data.geometry.coordinates;
          coor.push([data.pos[1], data.pos[0]]);
          map.getSource("route"+data.deviceID).setData({
                    "type": "Feature",
                    "properties": {},
                    "geometry": {
                        "type": "LineString",
                        "coordinates": coor
                    }
          });
          map.getSource(""+data.deviceID).setData({
                "type": "FeatureCollection",
                "features": [{
                  "type": "Feature",
                  "geometry": {
                    "type": "Point",
                    "coordinates": [data.pos[1],data.pos[0]]
                  }
                }],
            "layout": {
              "icon-image": 'icon',
              "icon-size": 0.25,
              'icon-allow-overlap': true
            }
          });
        })
      });
    },10000);
    devices.forEach(function(device){
      map.on('click', ""+device.deviceID, function (e) {
        map.flyTo({center: e.features[0].geometry.coordinates,zoom:9});
        new mapboxgl.Popup()
            .setLngLat(e.features[0].geometry.coordinates)
            .setHTML(device.name+"</br>"+"pos[lon,lat]:"+e.features[0].geometry.coordinates+"</br>"+device.desc)
            .addTo(map);
      });
    });
  </script>
  <script>
    var devices = <%- JSON.stringify(devices) %>;
    if (devices) {
      $.getJSON("/alldata/value/"+devices[0].deviceID, function(data){
        var value = []
        value.push(data['x']);
        data.keyValue.forEach(function(key){
          value.push(data[key]);
        });
        console.log(value);
        var chart1 = c3.generate({
            bindto: '#chart1',
            zoom: {
              enabled: true,
              rescale: true
            },
            data: {
              x: 'x',
              xFormat: '%Y-%m-%dT%H:%M:%S.%LZ',
              columns: value
            },
            axis: {
              x: {
                type: 'timeseries',
                tick: {
                  rotate: 75,
                  format: '%Y-%m-%d %H:%M:%S'
                }
              },
              lines:{
                front:false
              }
            }
        });
      });
    }
  </script>
  <% include footer.ejs %>
  <% include alertMessageModal.ejs %>
