<% include header.ejs %>
  <link rel="stylesheet" href="/mypublic/assets/css/CSSindex.css">
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.43.0/mapbox-gl.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.43.0/mapbox-gl.css' rel='stylesheet' />

  <!-- Load c3.css -->
  <link href="/mypublic/assets/css/c3.css" rel="stylesheet">

  <!-- Load d3.js and c3.js -->
  <script src="/mypublic/assets/css/d3.v3.min.js" charset="utf-8"></script>
  <script src="/mypublic/assets/css/c3.min.js"></script>

  <style>
    .row {
      margin: 0;
    }

  </style>
  <div class="container">
    <div class='row'>
      <div class="col">
        <h1>
          <%= project.name %>
        </h1>
      </div>
      <div class="col" style="text-align:right">
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">
          <i class="fas fa-trash"></i> Delete Project
        </button>
        <a href="/repository">
          <button type="button" class="btn btn-primary" style="margin-left:20px">
            back
          </button>
        </a>
      </div>
    </div>
    <hr/>
    <div class="row">
      <div class="col">
        <h2>Devices in the project</h2>
        <hr style="width:48%" />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <!-- <input type="text" class="form-control" style="width:180%" name="deviceid" placeholder="DeviceID..."> -->
        <form id="addDeviceForm" action="/project/<%= project.id %>" method="POST">
          <select class="custom-select" name="deviceid" style="width:100%">
          <% allDevices.forEach(function(device){ %>
            <option value="<%= device.deviceID %>"><%= device.name %></option>
          <% }); %>
          </select>
        </form>
      </div>
      <div class="col"><button type="submit" form="addDeviceForm" class="btn btn-primary" style="margin-left:10px">Add device</button></div>
    </div>
    <div class="row" style="margin-top:20px;">
      <div class="col">
        <table class="table table-dark table-hover">
          <thead>
            <tr>
              <th>Device Name</th>
              <th>Status</th>
              <th>Last Online</th>
              <th>State</th>
              <th>Handle</th>
            </tr>
          </thead>
          <tbody>
            <% if(devices){ %>
              <% devices.forEach(function(device){ %>
                <tr>
                  <td>
                    <%= device.name %>
                  </td>
                  <% if(device.online){ %>
                    <td>
                      <span class="badge badge-pill badge-success">Online</span>
                    </td>
                    <% }else{ %>
                      <td>
                        <span class="badge badge-pill badge-warning">Offline</span>
                      </td>
                      <% } %>
                        <td>
                          <%= device.lastOnline %>
                        </td>
                        <td>...</td>
                        <td>
                          <a class="btn btn-danger btn-sm" href="/project/<%= project._id %>/remove/<%= device.deviceID %>">
                      Delete from project
                    </a>
                        </td>
                </tr>
                <% }); %>
                  <% } %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h2>Description</h2>
        <hr/>
        <p style="color:white">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit voluptates quia dolor iure ipsa tempore quasi dolorum cum laborum rem exercitationem suscipit, obcaecati dolores qui quos modi a ea perspiciatis?
        </p>
        <br/>
        <h2>Setting: External Data</h2>
        <hr/>
        <div>
          <div class="row">
            <div class="col">
              <h3>Weather</h3>
            </div>
            <div class="col" style="text-align:right;">
              <label class="switch" data-toggle="collapse" data-target="#">
                <input type="checkbox">
                <span class="slider round"></span>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <h3>Geolocation</h3>
            </div>
            <div class="col" style="text-align:right;">
              <label class="switch" data-toggle="collapse" data-target="#">
                <input type="checkbox">
                <span class="slider round"></span>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <h3>Temparature</h3>
            </div>
            <div class="col" style="text-align:right;">
              <label class="switch" data-toggle="collapse" data-target="#">
                <input type="checkbox">
                <span class="slider round"></span>
              </label>
            </div>
          </div>
        </div>

      </div>
      <div class="col">
        <h2>Map</h2>
        <div class="card" style="height:500px">
          <div id='map' style="position:absolute; height:100% ;top:0; bottom:0; width:100%;"></div>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top:20px;">
      <div class="col">
        <div class="row">
          <h2>Device 1</h2>
          <div style="margin-left:30px;">
            <label class="switch" data-toggle="collapse" data-target="#device1">
              <input type="checkbox">
              <span class="slider round"></span>
            </label>
          </div>
        </div>
        <div class="row" style="width:100%">
          <div class="collapse" id="device1" style="width:100%">
            <div class="card" style="height:100%;">
              <div id="chart"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <h2>Device 2</h2>
          <div style="margin-left:30px;">
            <label class="switch" data-toggle="collapse" data-target="#device2">
              <input type="checkbox">
              <span class="slider round"></span>
            </label>
          </div>
        </div>
        <div class="row" style="width:100%">
          <div class="collapse" id="device2" style="width:100%">
            <div class="card" style="height:500px">
              abcd
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top:20px;">
      <div class="col">
        <div class="row">
          <h2>Device 3</h2>
          <div style="margin-left:30px;">
            <label class="switch" data-toggle="collapse" data-target="#device3">
              <input type="checkbox">
              <span class="slider round"></span>
            </label>
          </div>
        </div>
        <div class="row" style="width:100%">
          <div class="collapse" id="device3" style="width:100%">
            <div class="card" style="height:500px;">
              abc
            </div>
          </div>
        </div>
      </div>
      <div class="col">
      </div>
    </div>
    <div style="height:50px"></div>
  </div>

  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Warning! Deleting device</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
          Your Project will be permanently deleted.
          <br/> Are you sure you want to continue?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <a class="nav-link" href="/remove/project/<%= project._id %>"><button type="button" class="btn btn-danger">Delete</button></a>
        </div>
      </div>
    </div>
  </div>


  <script>
    mapboxgl.accessToken = 'pk.eyJ1Ijoia2FtZW1vcyIsImEiOiJjamJseHB4ZGIzNzV5MzNyNjJkanEzcjdlIn0.799r9GCkmUnwkw96jkeWWA';
    var map = new mapboxgl.Map({
      container: 'map', // container id
      style: 'mapbox://styles/mapbox/streets-v9', // stylesheet location
      center: [100.5321, 13.7384], // starting position [lng, lat]
      zoom: 9 // starting zoom
    });
    map.on('load', function() {
      map.loadImage('https://upload.wikimedia.org/wikipedia/commons/thumb/6/60/Cat_silhouette.svg/400px-Cat_silhouette.svg.png', function(error, image) {
        if (error) throw error;
        map.addImage('cat', image);
        map.addLayer({
          "id": "points",
          "type": "symbol",
          "source": {
            "type": "geojson",
            "data": {
              "type": "FeatureCollection",
              "features": [{
                "type": "Feature",
                "geometry": {
                  "type": "Point",
                  "coordinates": [100.5321, 13.7384]
                }
              }]
            }
          },
          "layout": {
            "icon-image": "cat",
            "icon-size": 0.25
          }
        });
      });
    });

  </script>
  <script>
    var devices = <%- JSON.stringify(devices) %>;
    if (devices) {
      devices.forEach(function(device) {
        var datas = device.data;
        var values = ['value'];
        var timeStamps = ['timeStamp'];
        datas.forEach(function(data) {
          values.push(data.value);
          timeStamps.push(data.timeStamp);
        })
        console.log(values);
        var chart = c3.generate({
          bindto: '#chart',
          data: {
            columns: [
              values,
              timeStamps
            ]
          }
        });
      })
    }
    // var data1 = data[0];

  </script>

  <% include footer.ejs %>
    <% include alertMessageModal.ejs %>
