<% include header.ejs %>
<div id="title-banner">
	<div class="container center">
		<h3 class="header light white-text"><%=result.name%> :: <%=slot%></h3>
		<p id="breadcrumbs"><a href="/">Home</a> &raquo; <a href="/projects/<%=result.appID%>">My Projects</a> &raquo; Analyse :: <%=slot%></p>
	</div>
</div>
<div class="container" id="viewData">
	<div class="row">
		<div class="col m6">
			<ul class="collapsible" data-collapsible="">
				<li>
					<div class="collapsible-header active"><i class="material-icons">library_books</i> การแสดงผล</div>
					<div class="collapsible-body">
						<b> รูปแบบกราฟ</b> <br />
						<div>
							<span class="item"><input name="graphType" type="radio" id="gType6" value="spline" checked /><label for="gType6"> Spline</label> </span>
							<span class="item"><input name="graphType" type="radio" id="gType5" value="line" /><label for="gType5"> Line</label> </span>
							<span class="item"><input name="graphType" type="radio" id="gType1" value="area" /><label for="gType1"> Area</label> </span>
							<span class="item"><input name="graphType" type="radio" id="gType2" value="areaspline" /><label for="gType2"> Spline Area</label> </span>
							<span class="item"><input name="graphType" type="radio" id="gType4" value="column" /><label for="gType4"> Column</label> </span>
						</div>
						<div class="clearfix"></div>
					</div>
				</li>
				<li>
					<div class="collapsible-header"><i class="material-icons">library_books</i> จัดการข้อมูลดิบ</div>
					<div class="collapsible-body">
						<a href="https://iot-chula.com/getData/<%=result.appID%>/<%=slot%>/?csv" target="_export"><i style="vertical-align:middle;" class="material-icons">file_download</i> ดาวน์โหลดข้อมูล (CSV)</a>
					</div>
				</li>
			</ul>
		</div>
		<div class="col m6">
			<ul class="collapsible" data-collapsible="accordion">
				<li>
					<div class="collapsible-header active"><i class="material-icons">library_books</i> เครื่องมือวิเคราะห์</div>
					<div class="collapsible-body">
						<div class="group">
							<b>เลือกข้อมูลเปรียบเทียบ </b><br />
							<div>
								<% for(var i=1; i<=result.slots.length; i++) { if (result.slots[i-1] !='' && result.slots[i-1] != slot) { %>
								<span class="compare"><input type="checkbox" id="data_<%=result.slots[i-1]%>" name="<%=result.slots[i-1]%>" /> <label for="data_<%=result.slots[i-1]%>"><span> <%=result.slots[i-1]%></span></label></span>
								<% } } %>
							</div>
						</div>
						<div class="group">
							<b>Data Grouping </b><br />
							<div>
								<span class="item"> Approximation : </span>
								<span class="item"><input name="grouping" type="radio" id="gpt1" value="disable" /><label for="gpt1"> Disable</label> </span>
								<span class="item"><input name="grouping" type="radio" id="gpt2" value="average" checked /><label for="gpt2"> Average</label> </span>
								<span class="item"><input name="grouping" type="radio" id="gpt3" value="sum" /><label for="gpt3"> Sum</label> </span>
								<div class="clearfix"></div>
								<span class="item">Timing Unit : </span>
								<span class="item"><input name="timing" type="radio" id="tim1" value="millisecond" /><label for="tim1"> ms</label> </span>
								<span class="item"><input name="timing" type="radio" id="tim2" value="second" checked /><label for="tim2"> sec</label> </span>
								<span class="item"><input name="timing" type="radio" id="tim3" value="minute" /><label for="tim3"> min</label> </span>
								<span class="item"><input name="timing" type="radio" id="tim4" value="hour" /><label for="tim4"> hr</label> </span>
								<span class="item"><input name="timing" type="radio" id="tim5" value="day" /><label for="tim5"> day</label> </span>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</li>
			</ul>
		</div>
	</div>

	<div class="row" id="chartArea">
		<div class="col m12">
			<div class="card">
				<div class="card-content">
					<div id="graph" class="" style="min-height:400px; height:60vh; max-height:800px;"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>

	var config = {
		chart:null,
		series:[],
		devicesColor:{},
		view:{
			dpc: 1000,
			gType: "spline",

		},
		project: {
			Name: '<%=result.name%>',
			AppID: '<%=result.appID%>',
			AppKey: '<%=result.appKey%>',
			AppSecret: '<%=result.appSecret%>',
		},
		grouping:{
			approximation: "average",
			units: 'second',
			interval: 1
		},
		key: '<%=slot%>',
	}

</script>
<% include footer.ejs %>
