<% include header.ejs %>
<div id="title-banner">
    <div class="container center">
        <h3 class="header light white-text"><%= result["name"] %> : Smart ReActs Settings</h3>
        <p id="breadcrumbs"><a href="/">Home</a> &raquo; <a href="/reacts">Smart ReActs</a> &raquo; <%= result["name"] %></p>
    </div>
</div>
<div class="container">
    <div class="section" id="reactSetting">

        <div class="row">
            <form class="col s12 m12 l7" method="post">
                <form method="post">
                    <ul class="collapsible" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header active"><i class="material-icons">settings</i> Smart ReAct Settings</div>
                            <div class="collapsible-body">
                                <div id="field">
                                    <div class="row">
                                        <div class="input-field col m6"><input id="vname" name="name" value="<%= result["name"] %>" required type="text" class="validate"><label for="vname">Name</label></div>
                                        <div class="input-field col m6">
                                            <select name="appID" required>
                                                <option value="" disabled selected>Choose Project...</option>
                                                <% if (typeof projects != 'undefined' && projects.length) { for(var i=0; i<projects.length; i++) { %>
                                                <option value="<%= projects[i]["appID"] %>" <%=(projects[i]["appID"] == result["appID"])?"selected":""; %> ><%= projects[i]["name"] %></option>
                                                <% } } %>
                                            </select>
                                            <label>Project Association</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12"><textarea id="vdesc" name="desc" class="materialize-textarea"><%= result["desc"] %></textarea><label for="vdesc">Description</label></div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col m4">
                                            <select name="slot" required>
                                                <option value="" disabled selected>Choose DataSlot...</option>
                                                <% if (typeof projects != 'undefined' && projects.length) { for(var i=0; i<projects.length; i++) { %>
                                                <% if(projects[i]["appID"] == result["appID"]) { for(var k=0; k<projects[i]["slots"].length; k++) { %>
                                                <option value="<%= projects[i]["slots"][k] %>" <%=(projects[i]["slots"][k] == result["slot"])?"selected":""; %> ><%= projects[i]["slots"][k] %></option>
                                                <% } } } } %>
                                            </select>
                                            <label>DataSlot Interested</label>
                                        </div>
                                        <div class="input-field col m4">
                                            <select name="compare" required>
                                                <option value="" disabled selected>Choose Condition...</option>
                                                <option<%=("gt" == result["compare"])?" selected":""; %> value="gt">is greater than</option>
                                                <option<%=("gte" == result["compare"])?" selected":""; %> value="gte">is greater than or equal to</option>
                                                <option<%=("lt" == result["compare"])?" selected":""; %> value="lt">is less than</option>
                                                <option<%=("lte" == result["compare"])?" selected":""; %> value="lte">is less than or equal to</option>
                                                <option<%=("eq" == result["compare"])?" selected":""; %> value="eq">is equal to</option>
                                                <option<%=("ne" == result["compare"])?" selected":""; %> value="ne">is not equal to</option>
                                            </select>
                                            <label>Comparasion</label>
                                        </div>
                                        <div class="input-field col m4"><input id="vthreshold" name="threshold" type="number" value="<%= result["threshold"] %>" class="validate" required><label for="vthreshold">Threshold Value</label></div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col m6">
                                            <select name="sms" required>
                                                <option value="1">Get Alert via SMS</option>
                                                <option value="0" <%if (result["sms"] == false) { %> selected <% } %>>Get Notify by Email</option>
                                            </select>
                                            <label>Notification Type</label>
                                        </div>
                                        <div class="input-field col m6 sms"><input id="vphone" name="phone" type="text" class="validate" value="<%= result["phone"] %>" required><label for="vphone">Phone</label></div>
                                        <div class="input-field col m6 email"><input id="vemail" value="<%= result["email"] %>" type="email" class="validate" readonly><label for="vemail">Email</label></div>
                                        <div class="input-field col m12 email"><input id="vsubject" name="subject" value="<%= result["subject"] %>" type="text" class="validate" required><label for="vsubject">Subject</label></div>
                                        <div class="input-field col s12"><textarea id="vmessage" name="message" class="materialize-textarea" required><%= result["message"] %></textarea><label for="vmessage">Message Body</label></div>
                                    </div>

                                </div>
                                <div class="row"><div class="col m12">
                                    <a class="waves-effect waves-light deletereact left" value="<%=result.actID%>">Delete ReActs</a>
                                    <button class="btn waves-effect waves-light orange right lighten-1" type="submit">Save ReActs Setting</button>
                                    </div></div>
                            </div>
                        </li>
                    </ul>
                </form>
                <div class="col s12 m12 l5">
                    <ul class="collapsible" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header active"><i class="material-icons">extension</i> Action Status</div>
                            <div class="collapsible-body">
                                <% if (typeof result["status"] != 'undefined' && result["status"] == true) { %>
                                <div class="card-panel green lighten-5 green-text text-darken-4"><b>Running : </b>Your Smart ReAct is verified and running.</div>
                                <% } else if(typeof result["status"] != 'undefined' && result["status"] == false) { %>
                                <div class="card-panel red lighten-5 red-text text-darken-4"><b>Not Verified : </b>We have sent you an email contain verification link. Please check you inbox and/or spam folder.</div>
                                <% } %>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header "><i class="material-icons">restore</i> Action History</div>
                            <div class="collapsible-body">
                            </div>
                        </li>
                    </ul>
                </div>
                </div>
        </div>
    </div>
    <% if (typeof projects != 'undefined' && projects.length) { %>
    <script>
        var vslots = {};
        <% for(var i=0; i<projects.length; i++) { %>
        vslots["<%= projects[i]["appID"] %>"] = <%- JSON.stringify(projects[i]["slots"]) %>;
               <% } %>

    </script>
    <% } %>
    <% include footer.ejs %>
